* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(37, 28, 28, 0.904);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

main {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 59, 57);
  padding: 20px 20px;
  width: 50vh;
  height: 20vh;
  border-radius: 20px;
  box-shadow: 12px 9px 3px -5px rgba(0, 0, 0, 0.69);
}

.quote-holder {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.quote {
  font-size: 20px;
  font-style: italic;
}
.quote-author {
  opacity: 0.8;
  text-transform: capitalize;
}

.new-quote {
  align-self: flex-end;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgba(94, 66, 66, 0.904);
  cursor: pointer;
  transition: 0.3s ease all;
}
.new-quote:hover {
  background-color: rgb(51, 38, 38);
}
